.recipe_container{
    background: #ffded5;
}

.container-info-recipe, .liste_ingredients_recipe_element{
    max-width: 95%;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background: #FFF;
    box-shadow: 0px 0px 17px 2px rgba(1, 1, 1, 0.2);
}

.title_recipe_element{
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
}

@media all and (max-width: 700px){
    .title_recipe_element{
        font-size: 19px;
    }
}

.container_image_recipe_element{
    text-align: center;
}

.image_recipe_element{
    margin: auto;
    max-width: 100%;
    display: block;
    height: auto;
}

.informations_recipe_element{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    text-align: center;
}

@media all and (max-width: 650px){
    .informations_recipe_element{
        display: flex;
        flex-direction: column;
    }
}

.informations_recipe_container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}


.info_span_recipe_element{
    font-size: 18px;
    font-weight: 700;
}

@media all and (max-width: 700px){
    .info_span_recipe_element{
        font-size: 20px;
    }
}

.detail_recipe_element{
    color: #ff6f61;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

.link-recipe{
    text-decoration: none;
}

.detail_recipe_element:visited{
    color: #ff6f61;
}

.title_ingredient_recipe{
    text-align: center;
    font-size: 21px;
}

.liste_ingredients_recipe{
    padding: 2rem;
    text-align: center;
}

.item_ingredient_recipe{
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    color: #fd594a;
    padding: 0 0 1em;
    margin-left: -20px;
}

.button_recipe{
    border: 2px solid #fd594a;
    background: #ff6f61;
    color: #000;
    font-size: 18px;
    padding: 0.5em 1em;
    margin: 0 0 1rem;
}

.link_recipe{
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.link_recipe:visited{
    color: #000;
}

.return_home_container{
    text-align: center;
}

.return_home_button{
    margin: 20px 0;
}